services:
  api:
    build: .
    container_name: mongo_crud_api
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/simple_crud
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: mongo_crud_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
